version: "3.9"

services:
  nuxt:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: bintech-nuxt-prod
    ports:
      - "3001:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      NITRO_HOST: 0.0.0.0
      NITRO_PORT: 3000
    restart: unless-stopped
